<h2 class="page_title"><%= 'Reset password'.t %></h2>

<%= render :partial => 'accounts/password_info' %>
<br class="vspace1" />

<%= form_tag({ :action => 'password' }, { :class => 'edit-form' }) do -%>
  <fieldset>
    <legend><strong><%= 'Request password link'.t %></strong></legend>
    <label for="login"><%= 'User name or e-mail address'.t %></label><br />
    <%= text_field_tag 'login', params[:login] %><br />
    <%= render :partial => 'shared/misc/captcha' %>
    <%= submit_button %>
  </fieldset>
<% end -%>
