<h2 class="page_title"><%= 'Conference signup confirmation'.t %></h2>

<p>
Vielen Dank für Ihre Anmeldung zur virtuellen Tagung „<%= Pandora::ConferenceSignup::TITLE %>“ vom <%= Pandora::ConferenceSignup::DATE %>.
</p>

<p>
  <%= link_to '» Register an additional participant'.t, action: 'conference_signup' %><br>
  <%= link_to '» Conference page'.t, 'http://prometheus-bildarchiv.de/tagung2021/index' %>
</p>
