<%= page_title %>

<%= error_messages_for :feedback, :header_message => '', :message => '' %>

<%= form_for @feedback, as: :feedback, url: {action: 'feedback'} do |f| -%>
  <p>
    <%= render :partial => 'feedback_caption' %>
  </p>
  <p>
    <%= f.label :name, 'Your name'.t + ' (' + 'optional'.t + ')' %>
    <br>
    <%= f.text_field :name %>
  </p>
  <p style="display: none;">
    <%= f.label :code %>
    <br>
    <%= f.text_field :code %>
    <br>
    <%= f.label :send_by_email %>
    <br>
    <%= f.check_box :send_by_email %>
  </p>
  <p>
    <%= f.label :email, 'Your e-mail address'.t + ' (' + 'optional'.t + ')' %>
    <br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :message, 'Your message'.t %>
    <br>
    <%= f.text_area :message, size: '59x10', class: 'mandatory' %>
  </p>
  <p>
    <%= render :partial => 'shared/misc/captcha' %>
  </p>
  <p>
    <%= submit_button 'Submit feedback'.t, :float => :right %>
  </p>
<% end -%>
