<%= page_title %>

<%= error_messages_for :feedback, :header_message => '', :message => '' %>

<%= form_for @feedback, as: :feedback, url: {action: 'feedback'} do |f| -%>
  <table>
    <caption><%= render :partial => 'feedback_caption' %></caption>
    <tr>
      <th><%= f.label :name, 'Your name'.t + ' (' + 'optional'.t + ')' %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :email, 'Your e-mail address'.t + ' (' + 'optional'.t + ')' %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.label :text, 'Your message'.t %>
        <br /><br class="vspace1" />
        <%= f.text_area :text, size: '59x10', class: 'mandatory' %>
        <br /><br class="vspace1" />
        <%= render :partial => 'shared/misc/captcha' %>
        <%= submit_button 'Submit feedback'.t, :float => :right %>
      </td>
    </tr>
  </table>
<% end -%>
