<table>
  <tr>
    <th><%= 'Collections'.t %>:</th>
    <td><%= @collections %></td>
  </tr>
  <tr>
    <th><%= 'Boxes'.t %>:</th>
    <td><%= @boxes %></td>
  </tr>
  <tr>
    <th><%= 'Uploads'.t %>:</th>
    <td><%= @uploads %></td>
  </tr>
  <tr>
    <th><%= 'Comments'.t %>:</th>
    <td><%= @comments %></td>
  </tr>
  <tr>
    <th><%= 'Ratings'.t %>:</th>
    <td><%= @ratings %></td>
  </tr>
  <tr>
    <th><%= 'Newsletter subscribers'.t %>:</th>
    <td><%= @subscribers %></td>
  </tr>
  <tr>
    <th><%= 'Top terms'.t %>:</th>
    <td>
      <% @top_terms.each do |record| %>
        <%= record['term'] %>: <%= record['count'] %><br />
      <% end %>
    </td>
  </tr>
</table>
