<p>
  <strong>Es tut uns leid, aber in unserer Anwendung ist ein Fehler aufgetreten!</strong>
</p>

<p>
  Wir wurden bereits automatisch darüber informiert. Sie würden uns jedoch
  bei der Fehlerbehebung helfen, wenn Sie uns kurz beschreiben könnten, was
  Sie zu tun versuchten, was Sie zuletzt getan haben und welches Betriebssystem
  und welchen Browser Sie verwenden.
</p>

<p>
  Hoffentlich wird Sie eine dieser Seiten wieder auf den richtigen Weg bringen:
  <ul>
    <li><a href="<%= ENV['PM_HOME_URL'] %>">prometheus-Homepage</a></li>
    <li><a href="<%= ENV['PM_BASE_URL'] %>">prometheus-Bildarchiv Startseite</a></li>
    <li><a href="<%= ENV['PM_BASE_URL'] %>/sitemap">prometheus-Bildarchiv Sitemap</a></li>
    <li>
      <a href="javascript:history.back()">Oder gehen Sie zurück zu der Seite, von der Sie kamen</a>
      (<noscript>erfordert, dass JavaScript aktiviert ist; </noscript>alternativ betätigen Sie den Zurück-Button Ihres Browsers)
    </li>
  </ul>
</p>

<p>
  Unsere Kontaktadresse: <a href="mailto:<%= ENV['PM_INFO_ADDRESS'] %>"><%= ENV['PM_INFO_ADDRESS'] %></a>. Vielen Dank!
</p>
