<p>
  <strong>We're really sorry, but an error has occurred in our application!</strong>
</p>

<p>
  We have already been notified automatically. However, you would help us a
  lot to remedy this error by sending us a short description of what you were
  trying to do, what you did last, and what platform and browser you are using.
</p>

<p>
  Hopefully one of these pages will get you back on track:
  <ul>
    <li><a href="<%= ENV['PM_HOME_URL'] %>">The prometheus Homepage</a></li>
    <li><a href="<%= ENV['PM_BASE_URL'] %>">The prometheus Image Archive start page</a></li>
    <li><a href="<%= ENV['PM_BASE_URL'] %>/sitemap">The prometheus Image Archive sitemap</a></li>
    <li>
      <a href="javascript:history.back()">Or try going back to the page you were coming from</a>
      (<noscript>requires JavaScript to be enabled; </noscript>alternatively, just hit your browser's back-button)
    </li>
  </ul>
</p>

<p>
  You can contact us at <a href="mailto:<%= ENV['PM_INFO_ADDRESS'] %>"><%= ENV['PM_INFO_ADDRESS'] %></a>. Thank you very much!
</p>
