<span class="truncated">
  <span class="short scriptonly">
    <span class="content"><%= truncated_content %></span>
    <span class="toggle">
      <%= vbar %>
      <span class="a dim" title="<%= short_title %>" _parent="<%= parent %>"><%= expand_text %></span>
    </span>
  </span>
  <span class="full scroll noscript">
    <span class="content"><%= content %></span>
    <span class="toggle scriptonly">
      <%= vbar %>
      <span class="a dim" title="<%= full_title %>" _parent="<%= parent %>"><%= collapse_text %></span>
    </span>
  </span>
</span>
