<h2 class="page_title"><%= 'Terms of use'.t %></h2>

<% if current_user.terms_of_use_changed? -%>
  <p class="icon_box note">
    <%= render :partial => 'terms_of_use_changed' %>
  </p>
<% end %>

<p>
  <%= link_to '» PDF', public_path_for(pdf = "docs/terms_of_use#{Locale.ext(true)}.pdf"), :target => '_blank' %>
  [<%= number_to_human_size(File.size(Rails.root.join('public', pdf))) %>]
</p>

<div class="scroll">
  <%= render :partial => 'terms_of_use' %>
  <%= mail_to INFO_ADDRESS %>
</div>

<% if current_user.accepted_terms_of_use? %>
  <p>
    <%= 'You are already logged in.'.t %>
    <%= link_to 'Proceed to image archive...'.t, params[:return_to] || root_path %>
  </p>
<% else %>
  <%= form_tag({:action => 'update'}, method: :patch) do -%>
    <%= hidden_field_tag :return_to, params[:return_to] %>
    
    <p><label><%= check_box_tag 'accepted' %> <%= 'I read the above terms of use carefully and agree!'.t %></label></p>
    <%= submit_button 'Proceed...'.t %>

  <% end %>

  <% if current_user.ipuser? -%>
    <br class="vspace2" />
    <br class="vspace2" />
    <br class="vspace1" />

    <%= render partial: 'shared/personal_account_tip' %>
  <% end %>
<% end %>