<h2 class="page_title"><%= 'Terms of use'.t %></h2>

<p>
  <%= link_to '» PDF', public_path_for(pdf = "docs/terms_of_use#{Locale.ext(true)}.pdf"), :target => '_blank' %>
  [<%= number_to_human_size(File.size(Rails.root.join('public', pdf))) %>]
</p>

<div class="scroll">
  <%= render :partial => 'terms_of_use' %>
  <%= mail_to INFO_ADDRESS %>
</div>
