<div class="container text-center">
  <pm-spinner></pm-spinner>
</div>

<div class="container-md">
  <div class="row mt-5">
    <div class="col-12 col-sm-6 offset-sm-3">
      <%= form_tag(action: 'create', class: 'form') do %>
        <div class="form-group">
          <%= label_tag :login, 'User name or e-mail address'.t %>
          <%= text_field_tag :login, nil, {
            class: 'form-control',
            autocomplete: 'username'
          } %>
        </div>

        <div class="form-group">
          <%= label_tag :password, 'Password'.t %>
          <%= password_field_tag :password, nil, {
            class: 'form-control',
            autocomplete: 'current-password'
          } %>
        </div>

        <div class="form-group text-right">
          <%= submit_tag 'Login'.t, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
