<tr>
  <th><label for="source_kind"><%= 'Kind'.t %></label></th>
  <td><%= f.select :kind, Source.pconfig[:kinds], {}, options_for_field(:kind) %></td>
</tr>
<tr>
  <th><label for="source_type"><%= 'Type'.t %></label></th>
  <td><%= f.select :type, Source.types.keys, {}, options_for_field(:type) %></td>
</tr>
<tr>
  <th><%= f.label :auto_approve_records %></th>
  <td><%= f.check_box :auto_approve_records %></td>
</tr>
<tr>
  <th><label for="source_keyword_list" ><%= 'Keywords'.t %></label><br /><small>(<%= 'One per line'.t %>)</small></th>
  <td>
    <%= f.text_area :keyword_list, rows: 5, class: "mandatory" %>
    <div id="keyword_suggestions" class="suggestions"></div>
    <script>
      new Ajax.Autocompleter(
        'source_keyword_list',
        'keyword_suggestions',
        '<%= suggest_keywords_path %>',
        {
          paramName: 'value',
          suggest: true,
          parameters: 'type=source'
        }
      )
    </script>
  </td>
</tr>
<tr>
  <th><label for="source_contact"><%= 'Contact'.t %></label></th>
  <!-- REWRITE: .map requires a scope now -->
  <td><%= f.select :contact, Account.not_anonymous.map { |a| [a.login, a.id] }.sort, { :include_blank => true, :selected => @contact && @contact.id }, options_for_field(:contact) %></td>
</tr>
<tr>
  <th><label for="source_admin"><%= 'Admins'.t %></label></th>
  <td><%= f.select :admins, Role.find_by!(title: 'dbadmin').accounts.map { |a| [a.login, a.id] }.sort, { :include_blank => true, :selected => @admins && @admins.map{ |a| a.id } }, options_for_field(:admins, :multiple => true) %></td>
</tr>
