<% unless @source.url.blank? -%>
  <%= link_to 'Database homepage'.t, @source.url %>
  <%= image_tag('/images/icon/arrow-up-right-from-square-solid.png', style: 'vertical-align: baseline;') %>
<% end -%>
<% unless @source.url.blank? -%>
  <%= vbar %>
<% end -%>
<strong class="nowrap">
  <% c = (@source_counts ? @source_counts['records'] : 0) %>
  <% record_count = pm_labelled_delimited_counter(c, '%s record', '%s records') %>
  
  <%= link_to(
      record_count,
      { controller: 'searches',
        action: 'advanced',
        'search_value[0]': '*',
        #objects: 1,
        indices: {"#{@source.name}": true} }) %>
</strong>

<% if @source.open_access? && !(current_user && current_user.dbuser? && current_user == @source.dbuser) -%>
  <%= vbar %>
  <strong class="nowrap">
    <%= link_to_open_source @source %>
  </strong>
<% end -%>
<% if current_user && current_user.allowed?(@source) -%>
  <%= vbar %>
  <span class="nowrap">
    <% ratings_count = @source.rated_images.count %>
    <%= link_to "%d" / ratings_count + " " + (ratings_count == 1 ? "rating".t : "ratings".t), :action => 'ratings', :id => @source %>
  </span>
<% end -%>
