<%= form_tag options, :method => 'get', :class => 'search_form' do -%>
  <%= select_tag :field, options_for_select_t(Upload.search_columns(current_user).map { |c| c.respond_to?(:name) ? [c.human_name, c.name] : [c.humanize, c] }, @field) %>
  <%= text_field_tag :value, @value, :size => 30 %>
  <%= search_button nil, :float => nil %>
  <% unless @value.blank? -%>
    <span class="reset-link">[<%= link_to 'Clear/Show all'.t, safe_params.except('field', 'value', 'commit') %>]</span>
  <% end -%>

  <div class="clearfix"></div>
<% end -%>
