<div style="float: right;">
  <%= upload_image(@upload.image) if @upload.image %><br />
  <table>
    <tr>
      <th><%= 'File size'.t %></th>
      <td>
        <!-- REWRITE: method signature has changed -->
        <%#= number_to_human_size(@upload.file_size, 2) %>
        <%= number_to_human_size(@upload.file_size, precision: 2) %>
      </td>
    </tr>
    <tr>
      <th><%= 'File format'.t %></th>
      <td><%= @upload.filename_extension %></td>
    </tr>
    <% if @upload.image &&
        (((pixel_x_dimension = @upload.image.exif_metadata_value_for('pixel_x_dimension')) &&
         (pixel_y_dimension = @upload.image.exif_metadata_value_for('pixel_y_dimension'))) ||
       (!@upload.image.latitude.blank? && !@upload.image.longitude.blank?)) %>
      <tr>
      </tr>
      <tr>
        <th><strong><%= "EXIF " + "data".t %></strong></th>
      </tr>
    <% end %>
    <% if pixel_x_dimension && pixel_y_dimension %>
      <tr>
        <th><%= 'Image size in pixels (width x height)'.t %></th>
        <td><%= pixel_x_dimension %> x <%= pixel_y_dimension %></td>
      </tr>
    <% end %>
    <% if @upload.image.latitude -%>
      <tr>
        <th><%= 'Latitude'.t %></th>
        <td>
          <%= number_with_precision(@upload.image.latitude, precision: 5) %>
        </td>
      </tr>
    <% end -%>
    <% if @upload.image.longitude -%>
      <tr>
        <th><%= 'Longitude'.t %></th>
        <td>
          <%= number_with_precision(@upload.image.longitude, precision: 5) %>
          <% if @upload.image.latitude and @upload.image.longitude -%>
            <%= link_to_google_maps("#{@upload.image.latitude},#{@upload.image.longitude}") %>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </table>
</div>
