<table>
  <tr>
    <th><label for="upload_addition"><%= 'Addition'.t %></label></th>
    <td><%= f.text_area :addition, options_for_field(:addition, :rows => 3) %></td>
  </tr>
  <tr>
    <th><label for="upload_annotation"><%= 'Annotation'.t %></label></th>
    <td><%= f.text_area :annotation, options_for_field(:annotation, :rows => 3) %></td>
  </tr>
  <tr>
    <th>
      <label for="upload_discoveryplace">
        <%= 'Discoveryplace'.t %>
      </label>
    </th>
    <td>
      <%= f.text_area :discoveryplace, options_for_field(:discoveryplace, :rows => 3, :style => @upload.discoveryplace.blank? ? '' : 'width: 327px;') %>
      <%= link_to_google_maps(@upload.discoveryplace) unless @upload.discoveryplace.blank? %>
    </td>
    <td>
      <%= image_tag('misc/info_form_field.gif', :class => 'dim', :title => "State here the original location of the object, which can differ from the current location and consists usually of information about the town, institution and if applicable the inventory number.".t) %>
    </td>
  </tr>
  <tr>
    <th><label for="upload_iconography"><%= 'Iconography'.t %></label></th>
    <td><%= f.text_field :iconography, options_for_field(:iconography) %></td>
  </tr>
  <tr>
    <th><label for="upload_institution"><%= 'Institution'.t %></label></th>
    <td><%= f.text_field :institution, options_for_field(:institution) %></td>
  </tr>
  <tr>
    <th><label for="upload_inventory_no"><%= 'Inventory No.'.t %></label></th>
    <td><%= f.text_field :inventory_no, options_for_field(:inventory_no) %></td>
  </tr>
  <tr>
    <th><label for="upload_origin"><%= 'Origin'.t %></label></th>
    <td><%= f.text_area :origin, options_for_field(:origin, :rows => 3) %></td>
  </tr>
  <tr>
    <th><label for="upload_other_persons"><%= 'Other Persons'.t %></label></th>
    <td><%= f.text_field :other_persons, options_for_field(:other_persons) %></td>
  </tr>
  <tr>
    <th><label for="upload_photographer"><%= 'Photographer'.t %></label></th>
    <td><%= f.text_field :photographer, options_for_field(:photographer) %></td>
  </tr>
  <tr>
    <th><label for="upload_size"><%= 'Size'.t %></label></th>
    <td><%= f.text_field :size, options_for_field(:size) %></td>
  </tr>
  <tr>
    <th><label for="upload_subtitle"><%= 'Subtitle'.t %></label></th>
    <td><%= f.text_field :subtitle, options_for_field(:subtitle) %></td>
  </tr>
  <tr>
    <th><label for="upload_text"><%= 'Text'.t %></label></th>
    <td><%= f.text_area :text, options_for_field(:text, :rows => 3) %></td>
  </tr>
  <%= form_controls %>
</table>
