<div class="list_controls <%= 'pm-top' if top %>">
  <div class="pagination">
    <%= render :partial => 'athene_search_pagination' %>
  </div>
  <%= render partial: 'shared/per_page_selector' %>
  <div class="sort_links">
    <%= 'Sort'.t %>
    <%= link_to(
      image_tag("misc/sort_#{@search.sort_order_reverse}.png", class: 'sort_icon'),
      params.permit!.to_h.merge(direction: @search.sort_order_reverse, page: 1),
      class: 'search-link',
      title: "Sort #{@search.sort_order_reverse}ending".t,
    ) %>
    <%= select_tag("order", options_for_select(@search.sort_fields.map { |field| [field.humanize.t, field] }, @search.sort_field), 'pm-to-param' => 'order') %>
  </div>
  <div class="result_view">
    <%= render partial: 'shared/view_links' %>
  </div>
  <div class="toggle_zoom toggle_zoom_athene scriptonly">
    <%= link_to_toggle_zoom "toggle_#{controller_name == 'searches' ? 'results' : controller_name}_zoom" %>
  </div>
</div>
