<div class="pm-source-list <%= 'pm-expand' if !@search.any_results? || @expand_list %>">
  <div class="pm-header">
    <span class="pm-amount"></span>
    <%= "databases selected".t %>
    <span class="pm-toggle">
      <span class="pm-hide">
        | <a href="#"><%= 'Hide'.t %></a>
      </span>
      <span class="pm-show">
        | <a href="#"><%= 'Change selection'.t %></a>
      </span>
    </span>
  </div>

  <div class="pm-body">
    <%= hidden_field_tag(:db_group, @db_group) %>
    <div class="pm-group-menu">
      <%= "Group by".t %>
      <%= link_to 'Kind'.t, '#', 'pm-to-param' => 'db_group', 'pm-value' => 'kind' %>
      -
      <%= link_to 'City'.t, '#', 'pm-to-param' => 'db_group', 'pm-value' => 'city' %>
      -
      <%= link_to 'Keywords'.t, '#', 'pm-to-param' => 'db_group', 'pm-value' => 'keywords' %>
      -
      <%= link_to 'Open access'.t, '#', 'pm-to-param' => 'db_group', 'pm-value' => 'open_access' %>
      |
      <%= "Sort by".t %>
      <%= link_to 'Title'.t, '#', 'pm-to-param' => 'db_group', 'pm-value' => 'title' %>
    </div>

    <div class="pm-check">
      <%= check_box_tag "all", true, true, :id => "all", class: 'pm-db-all-toggle' %>
      <%= label "all", "Search in all databases".t, "Search in all databases".t %>
      <!-- REWRITE: signature has changed -->
      (<%= number_with_delimiter(@search.number_of["total"]["value"], delimiter: ".").to_s + " " + "records".t %>)
    </div>

    <ul class="pm-groups">
      <% @search.indices_grouped.each do |group, indices| %>
        <li>
          <div class="pm-header">
            <div class="pm-toggle">
              <a href="#">
                <%= image_tag('misc/group_expand.gif', class: 'pm-show') %>
                <%= image_tag('misc/group_collapse.gif', class: 'pm-hide') %>
              </a>
            </div>
            <div class="pm-check">
              <%= check_box_tag("group[#{group}]", true, true,
                data: {group: group}
              ) %>
            </div>
            <div class="pm-text">
              <%= @search.db_group != "title" ? group.titleize.t : group %>
              <span class="pm-amount"></span>
            </div>
          </div>

          <ul class="pm-databases">
            <% indices.each do |name, data|  %>
              <li>
                <div class="pm-check">
                  <%= check_box_tag("indices[#{name}]", true, data["checked"],
                    data: {id: name}
                  ) %>
                </div>
                <div class="pm-name">
                  <%= data['source']['title'] %>
                  <small>
                    <%= data['source']['kind'].t %>,
                    <%= data['source'].city %>,
                    <%= data['source'].keywords.map {|keyword| keyword.title.t}.join(", ") %>
                  </small>
                </div>
                <div class="pm-amount">
                  <%= number_with_delimiter(
                    @search.image_count(name),  delimiter: "."
                  ) %>
                  <%= "images".t %>
                </div>
                <div class="pm-links">
                  <% if !data['source']['url'].blank? %>
                    <%=
                      link_to(
                        image_tag('misc/home.gif'),
                        data['source']['url'],
                        target: '_blank',
                        rel: 'noopener',
                        title: "Go to the database's homepage".t
                    ) %>
                  <% else %>
                    <a> <!-- added for uniformity of style -->
                      <%= image_tag('misc/home_inactive.gif', {}) %>
                    </a>
                  <% end %>

                  <%= mail_to data['source']['email'], image_tag('misc/email.gif') %>
                  <%= link_to(
                    image_tag('misc/info.gif'),
                    source_path(name),
                    title: 'Information about the database',
                    target: '_blank'
                  ) %>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
