<%= form_tag({ :controller => 'searches' }, { :method => 'get', :class => 'search_form search_query', :id => 'query_form' }) do -%>
  <%= hidden_field_tag :view, view %>

  <table>
    <tr>
      <td>
        <%= text_field_tag "search_value[0]", @search.value_text["0"], :placeholder => "", :tabindex => 1, :autofocus => true, :size => 30 %>
      </td>
      <td>
        <%= search_button %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to(
              'Search help'.t,
              help_url(section: 'search', host: request.host, anchor: nil),
              {title: 'Search help'.t}
            )
        %>
      </td>
    </tr>
  </table>
<% end %>
<% if current_user && current_user.dbuser? %>
  <p>
    <strong>
      <%= "Hint: You are currently only searching in open access database %s." / current_user.open_sources.join(", ") if current_user && current_user.open_sources %>
      <%= "If you would like to search in all databases, please %s or %s." / [(link_to 'log in'.t, :controller => 'sessions', :action => 'new', :host =>  request.base_url), (link_to 'sign up'.t, :controller => 'signup', :action => 'signup', :host =>  request.base_url)] %>
    </strong>
  </p>
<% end %>

<%= render :partial => 'no_results' %>
<%= render :partial => 'results' %>
