<div class="sort_links">
  <%= 'Order'.t %>:
  <% unless controller_name == 'search' && sort_column == 'relevance' -%>
    <%= link_to(
      image_tag(
        "misc/sort_#{sort_inverse.downcase}.png",
        :class => 'sort_icon'
      ),
      safe_params(
        :direction => sort_inverse,
        :page => nil
      ),
      :title => "Sort #{sort_inverse.downcase}ending".t
    ) %>
  <% end -%>
  <%= page_form do -%>
    <%= hidden_field_tags_for(safe_params.except(*%w[order direction page])) %>

    <% if local_assigns[:args] %>
      <%= select_tag(
        :order,
        options_for_select(
          options_for_order_select(args),
          sort_column
        ),
        :class => 'autoselect'
      ) %>
    <% end %>
  <% end -%>
</div>
