<% if @images.count > 0 -%>
  <%= controls = capture do %>
    <div class="list_controls">
      <% offset = @images.first_item_number -%>
      <%= pagination_for @images, page %>

      <div class="sort_links">
        <%= 'Order'.t %>:
        <%= link_to(
          image_tag(
            "misc/sort_#{sort_inverse.downcase}.png",
            :class => 'sort_icon'
          ),
          safe_params(
            :direction => sort_inverse,
            :page => nil
          ),
          :title => "Sort #{sort_inverse.downcase}ending".t
        ) %>
        <%= page_form do %>
          <%= hidden_field_tags_for(safe_params.except(*%w[order direction page])) %>
          <%= select_tag(
            :order,
            options_for_select(
              [
                ['Insertion order'.t, 'insertion_order'],
                ['Artist'.t, 'artist'],
                ['Title'.t, 'title'],
                ['Location'.t, 'location'],
                ['Credits'.t, 'credits'],
                ['Source title'.t, 'source_title'],
                ['Rating average'.t, 'rating_average'],
                ['Rating count'.t, 'rating_count'],
                ['Comments'.t, 'comment_count']
              ],
              sort_column
            ),
            class: 'autoselect'
          ) %>
        <% end %>
      </div>

      <%= render partial: 'shared/per_page_selector' %>
      <div class="result_view">
        <%= render partial: 'shared/view_links' %>
      </div>
      <div class="toggle_zoom scriptonly">
        <%= link_to_toggle_zoom "toggle_results_zoom" %>
      </div>
    </div>
  <% end %>

  <%= form_tag({controller: 'collections', action: 'store'}, {id: 'image_list_form', class: 'clear-padding'}) do %>
    <%= hidden_field_tag :back_to, request.url %>
    
    <%= render :partial => 'shared/image/store_controls', :locals => { :pos => 'top' } %>
    <div class="image_list view-<%= view %>">
      <% @images.items.each do |super_image| %>
        <%= render partial: 'images/row', locals: {super_image: super_image, collection: @collection} %>
      <% end %>  
    </div>

    <%= render :partial => 'shared/image/store_controls', :locals => { :pos => 'bottom' } %>
  <% end %>


  <%= controls %>
<% else -%>
  <div class="none"><%= 'none'.t %></div>
<% end -%>
