<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render :partial => 'shared/layout/head' %>

  <%= yield :head %>
  <%= csrf_meta_tags %>

  <!-- we write the home url here so js code can grab it -->
  <meta name="pm-home-url" value="<%= ENV['PM_HOME_URL'] %>" />

  <meta name="pm-user-login" value="<%= user_login %>" />
  <meta name="pm-user-institution" value="<%= user_institution %>" />
  <meta name="pm-user-is-personalized" value="<%= user_is_personalized %>" />

  <% if Rails.env.production? %>
    <!-- so we can see which commit is currently deployed -->
    <meta name="pm-revision" value="<%= Pandora.revision %>" />

    <%= render partial: 'layouts/matomo' %>
  <% end %>
</head>
<body class="<%= classes_for_body %>">
  <a name="top"></a>
  <div id="header">
    <div id="statusbar"><%= render :partial => 'shared/layout/statusbar' %></div>

    <div id="menu">
      <h1 id="logo"><!--
     --><%= link_to(
          image_tag('misc/logo.gif',
            :title => 'prometheus Homepage'.t,
            :alt => 'prometheus - Das verteilte digitale Bildarchiv für Forschung & Lehre'
          ),
          home_url
        ) %><!--
   --></h1><!--
   --><%= render partial: 'shared/navigation' %>
    </div>

    <div id="menu_shadow"></div>
  </div>
  <div id="workspace">
    <div id="sidebar">
      <div id="sidebar_header"></div>
      <div id="sidebar_header_shadow"></div>
      <%= render :partial => 'shared/layout/announcements' %>
      <div id="boxes"></div>
    </div>
    <div id="main">
      <% unless @no_submenu %>
        <div id="submenu"><%= render partial: 'submenu' %></div>
      <% end %>

      <div id="content" class="clear-float">
        <%= render partial: 'shared/flash' %>
        <%= yield %>
      </div>
    </div>
  </div>

<% if Rails.env.production? -%>
  <!-- set homepage language -->
  <iframe src="<%= home_url('dummy') %>" class="hidden"></iframe>
<% end -%>

  <div id="footer" class="clear-float">
    <%= link_to image_tag('misc/top.gif'), '#top', :title => 'Back to top'.t %>
    <span>
      <%= link_to 'Blog'.t, home_url('blog'), { :title => 'The prometheus Blog'.t } %>
      <%= vbar %>
      <%= link_to 'Contact'.t, home_url('contact'), { :title => 'Contact'.t } %>
      <%= vbar %>
      <%= link_to 'Imprint'.t, home_url('imprint'), { :title => 'Imprint'.t } %>
      <%= vbar %>
      <%= link_to 'Privacy'.t, home_url('privacy'), { :title => 'Privacy'.t } %>
      <%= vbar %>
      <%= link_to 'Terms of use'.t, public_path_for("docs/terms_of_use#{Locale.ext(true)}.pdf"), { title: 'Terms of use'.t, target: '_blank' } %>
      <%= vbar %>
      <%= link_to 'Sitemap'.t, { :controller => 'pandora', :action => 'sitemap' }, { :title => 'Sitemap'.t } %>
      <%= vbar %>
      <%= link_to 'FAQ'.t, home_url('faq'), { :title => 'Frequently asked questions'.t } %>
      <%= vbar %>

      <%= link_to_help %>
    </span>
  </div>

  <div is="pm-ol-modal"></div>
  <div is="pm-wd-modal"></div>
</body>
</html>
