<table style="display:block; width:100%; max-width:600px; background-color:#CCCCCC; color:#303030; font-family:Arial,Helvetica,sans-serif; font-size:14px; line-height:150%;">
<tr><td style="vertical-align:top; padding:10px;">
<hr />
Aktuelle Informationen erhalten Sie immer &uuml;ber unseren <%= link_to 'Blog'.t, 'http://prometheus-bildarchiv.de/blog', :style => "color:#DF7401;" %> und
<%= link_to image_tag("#{ENV['PM_HOME_URL']}/files/icons/facebook.png"), 'http://facebook.com/prometheus.bildarchiv' %>
<%= link_to image_tag("#{ENV['PM_HOME_URL']}/files/icons/twitter.png"), 'http://twitter.com/prometheus_eV' %>

<% if @user && @user.subscriber? -%>
<%= 'Sign up for a full account'.t %>:<br/>
<%= link_to nil, @signup_url, :style => "color:#DF7401;" %>
<% end -%>
<br />
<%= 'If you want to unsubscribe from the newsletter click'.t %>
<%= link_to 'here'.t, @unsubscribe_url, :style => "color:#DF7401;" %>.

</td></tr>
</table>
